.fixedContainer {
    background-color:#ddd;
    position: fixed;
    width: 330px;
    padding: 2em;
    left: 97%;
    top: 10%;
    transform: translateX(-50%);
}

  .list-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
  }
  .checked-item,
  .not-checked-item {
    margin-left: 10px;
  }